@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
    <div class="form-horizontal" id="dataInfoForm">

        <input type="hidden" id="id" value="">

        <div class="row">
            <div class="col-sm-6 b-r">
                <#input id="dictName" name="字典名称" underline="true" maxlength="50"/>
                <#input id="dictLabel" name="字典标签" underline="true" maxlength="50"/>
                <#input id="dictEnLabel" name="字典英文标签" underline="true" maxlength="50"/>

            </div>
            <div class="col-sm-6">
                <#input id="dictValue" name="字典值" underline="true" maxlength="50"/>
                <#input id="remarks" name="备注" underline="true"/>
            </div>
        </div>
        <div class="row btn-group-m-t">
            <div class="col-sm-10">
                <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="RolInfoDlg.addSubmit()"/>
                <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="RolInfoDlg.close()"/>
            </div>
        </div>
    </div>
        </div>
</div>
<script src="${ctxPath}/static/modular/system/data/data_info.js"></script>
@}
