<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dolaing.modular.mall.dao.MallGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dolaing.modular.mall.model.MallGoods">
        <id column="id" property="id"/>
        <result column="goods_sn" property="goodsSn"/>
        <result column="goods_name" property="goodsName"/>
        <result column="shop_price" property="shopPrice"/>
        <result column="goods_brief" property="goodsBrief"/>
        <result column="goods_desc" property="goodsDesc"/>
        <result column="is_free_shipping" property="isFreeShipping"/>
        <result column="deposit_ratio" property="depositRatio"/>
        <result column="start_subscribe_time" property="startSubscribeTime"/>
        <result column="end_subscribe_time" property="endSubscribeTime"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
    </resultMap>

    <sql id="Base_Column_List">
		id, goods_sn goodsSn, goods_name goodsName, shop_price shopPrice,deposit_ratio depositRatio, goods_brief goodsBrief, goods_desc goodsDesc, goods_master_imgs goodsMasterImgs,
		is_free_shipping isFreeShipping,expect_part_output expectPartOutput,expect_total_output expectTotalOutput,start_subscribe_time startSubscribeTime, end_subscribe_time endSubscribeTime,create_time createTime
	</sql>

    <select id="getGoodsList" resultType="com.dolaing.modular.mall.vo.MallGoodsVo" parameterType="Map">
        select
        <include refid="Base_Column_List"/>
        from mall_goods
        where del_flag = 0 and is_on_sale = 1 and start_subscribe_time  <![CDATA[ <= ]]> NOW() and end_subscribe_time <![CDATA[ >= ]]>
        NOW()
        <if test="createBy != null and createBy != ''">
            AND create_by = #{createBy}
        </if>
        order by create_time desc
        <if test="page != null ">
            limit ${(page.current-1)*page.size}, ${page.size}
        </if>
    </select>

    <select id="getAllGoods" resultType="com.dolaing.modular.mall.vo.MallGoodsVo" >
        select
        <include refid="Base_Column_List"/>
        from mall_goods
        where del_flag = 0 and is_on_sale = 1 and start_subscribe_time  <![CDATA[ <= ]]> NOW() and end_subscribe_time <![CDATA[ >= ]]> NOW()
        order by create_time desc
    </select>

    <select id="queryGoodsCountByAccount" resultType="Integer">
        select
        count(id)
        from mall_goods
        where is_on_sale = 1 and start_subscribe_time  <![CDATA[ <= ]]> NOW() and end_subscribe_time <![CDATA[ >= ]]>
        NOW()
        <if test="createBy != null and createBy != ''">
            AND create_by = #{createBy}
        </if>
        order by create_time desc
    </select>

    <update id="batchDelete"  parameterType="Map">
        update mall_goods
        set
        del_flag = 1 ,
        update_by = #{account} ,
        update_time = now()
        where
        del_flag = 0
        and id in (${ids})
    </update>

</mapper>
