<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dolaing.modular.mall.dao.OrderInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dolaing.modular.mall.model.OrderInfo">
        <id column="id" property="id" />
        <result column="order_sn" property="orderSn" />
        <result column="user_id" property="userId" />
        <result column="order_status" property="orderStatus" />
        <result column="shipping_status" property="shippingStatus" />
        <result column="pay_status" property="payStatus" />
        <result column="consignee" property="consignee" />
        <result column="country" property="country" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="district" property="district" />
        <result column="address" property="address" />
        <result column="zipcode" property="zipcode" />
        <result column="tel" property="tel" />
        <result column="mobile" property="mobile" />
        <result column="email" property="email" />
        <result column="postscript" property="postscript" />
        <result column="pay_id" property="payId" />
        <result column="pay_name" property="payName" />
        <result column="goods_amount" property="goodsAmount" />
        <result column="buyer_money_paid" property="buyerMoneyPaid" />
        <result column="buyer_order_amount" property="buyerOrderAmount" />
        <result column="seller_receive_status" property="sellerReceiveStatus" />
        <result column="seller_money_received" property="sellerMoneyReceived" />
        <result column="seller_receivable_amount" property="sellerReceivableAmount" />
        <result column="farmer_receive_status" property="farmerReceiveStatus" />
        <result column="farmer_money_received" property="farmerMoneyReceived" />
        <result column="farmer_receivable_amount" property="farmerReceivableAmount" />
        <result column="remarks" property="remarks" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="paid_time" property="paidTime" />
        <result column="delivered_time" property="deliveredTime" />
        <result column="received_time" property="receivedTime" />
        <result column="completed_time" property="completedTime" />
        <result column="shop_id" property="shopId" />
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="OrderVoMap" type="com.dolaing.modular.mall.vo.OrderInfoVo">
        <id column="id" property="id" />
        <result column="order_sn" property="orderSn" />
        <result column="user_id" property="userId" />
        <result column="order_status" property="orderStatus" />
        <result column="shipping_status" property="shippingStatus" />
        <result column="pay_status" property="payStatus" />
        <result column="consignee" property="consignee" />
        <result column="country" property="country" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="district" property="district" />
        <result column="address" property="address" />
        <result column="zipcode" property="zipcode" />
        <result column="tel" property="tel" />
        <result column="mobile" property="mobile" />
        <result column="email" property="email" />
        <result column="postscript" property="postscript" />
        <result column="pay_id" property="payId" />
        <result column="pay_name" property="payName" />
        <result column="goods_amount" property="goodsAmount" />
        <result column="buyer_money_paid" property="buyerMoneyPaid" />
        <result column="buyer_order_amount" property="buyerOrderAmount" />
        <result column="seller_receive_status" property="sellerReceiveStatus" />
        <result column="seller_money_received" property="sellerMoneyReceived" />
        <result column="seller_receivable_amount" property="sellerReceivableAmount" />
        <result column="farmer_receive_status" property="farmerReceiveStatus" />
        <result column="farmer_money_received" property="farmerMoneyReceived" />
        <result column="farmer_receivable_amount" property="farmerReceivableAmount" />
        <result column="remarks" property="remarks" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="paid_time" property="paidTime" />
        <result column="delivered_time" property="deliveredTime" />
        <result column="received_time" property="receivedTime" />
        <result column="completed_time" property="completedTime" />
        <result column="shop_id" property="shopId" />
        <result column="shop_name" property="shopName" />
        <result column="seller" property="seller" />

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_sn, user_id, order_status, shipping_status, pay_status, consignee, country, province, city, district, address, zipcode, tel, mobile, email, postscript, pay_id, pay_name, goods_amount, buyer_money_paid, buyer_order_amount, seller_receive_status, seller_money_received, seller_receivable_amount, farmer_receive_status, farmer_money_received, farmer_receivable_amount, remarks, create_by, create_time, update_by, update_time, paid_time, delivered_time, received_time, completed_time ,shop_id
    </sql>

    <insert id="saveOrderInfo" parameterType="com.dolaing.modular.mall.model.OrderInfo" useGeneratedKeys="true" keyProperty="id">
        insert mall_order_info(id, order_sn, user_id, order_status, shipping_status, pay_status, consignee, country, province, city, district, address, zipcode, tel, mobile, email, postscript, pay_id, pay_name, goods_amount, buyer_money_paid, buyer_order_amount, seller_receive_status, seller_money_received, seller_receivable_amount, farmer_receive_status, farmer_money_received, farmer_receivable_amount, remarks, create_by, create_time, paid_time, delivered_time, received_time, completed_time ,shop_id)
        values (#{id},#{orderSn},#{userId},#{orderStatus},#{shippingStatus},#{payStatus},#{consignee},#{country},#{province},#{city},#{district},#{address},#{zipcode},#{tel},#{mobile},#{email},#{postscript},#{payId},#{payName},#{goodsAmount},#{buyerMoneyPaid},#{buyerOrderAmount},#{sellerReceiveStatus},#{sellerMoneyReceived},#{sellerReceivableAmount},#{farmerReceiveStatus},#{farmerMoneyReceived},#{farmerReceivableAmount},#{remarks},#{createBy},#{createTime},#{paidTime},#{deliveredTime},#{receivedTime},#{completedTime},#{shopId})
    </insert>


    <select id="queryOrdersByUser" resultMap="OrderVoMap" parameterType="Map">
        SELECT moi.*,ms.shop_name,ms.user_id as seller FROM mall_order_info moi
        LEFT JOIN mall_shop ms
        ON moi.`shop_id` = ms.id
        <where>
            <if test='user.type != null and user.type == "0"'>
                moi.user_id = #{user.account}
            </if>
            <if test='user.type != null and user.type == "1"'>
                moi.user_id = #{user.account}
            </if>
            <if test='user.type != null and user.type == "2"'>
                ms.user_id = #{user.account}
            </if>
            <if test='user.type != null and user.type == "3"'>
                ms.user_id  = #{user.parentAccount}
            </if>
        </where>
        order by moi.create_time desc
        <if test="page != null ">
            limit ${(page.current-1)*page.size}, ${page.size}
        </if>
    </select>

    <select id="queryOrdersCountByUser"  resultType="Integer" parameterType="com.dolaing.modular.system.model.User">
        SELECT count(moi.id) FROM mall_order_info moi
        LEFT JOIN mall_shop ms
        ON moi.`shop_id` = ms.id
        <where>
            <if test='type != null and type == "0"'>
               and moi.user_id = #{account}
            </if>
            <if test='type != null and type == "1"'>
               and moi.user_id = #{account}
            </if>
            <if test='type != null and type == "2"'>
               and ms.user_id = #{account}
            </if>
            <if test='type != null and type == "3"'>
               and ms.user_id  = #{parentAccount}
            </if>
        </where>
        order by moi.create_time desc
    </select>

    <update id="batchDeliver"  parameterType="Map">
        update mall_order_info
        set
        shipping_status = 1 ,
        update_by = #{account} ,
        delivered_time = now(),
        update_time = now()
        where
        shipping_status = 0
        and order_status = 1
        and pay_status = 1
        and id in (${ids})
    </update>



</mapper>
