<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dolaing.modular.system.dao.UserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.dolaing.modular.system.model.User">
		<id column="id" property="id" />
		<result column="avatar" property="avatar" />
		<result column="account" property="account" />
		<result column="password" property="password" />
		<result column="salt" property="salt" />
		<result column="name" property="name" />
		<result column="birthday" property="birthday" />
		<result column="sex" property="sex" />
		<result column="email" property="email" />
		<result column="phone" property="phone" />
		<result column="type" property="type" />
		<result column="role_id" property="roleId" />
		<result column="status" property="status" />
		<result column="reg_time" property="regTime" />
		<result column="pay_password" property="payPassword" />
		<result column="create_by" property="createBy" />
		<result column="create_time" property="createTime" />
		<result column="update_by" property="updateBy" />
		<result column="update_time" property="updateTime" />
	</resultMap>

	<sql id="Base_Column_List">
			  id,
			  account,
			  name,
			  birthday,
			  sex,
			  email,
			  avatar,
			  phone,
			  role_id as roleId,
			  type,
			  STATUS,
			  reg_time as regTime,
			  create_time as createTime
	</sql>

	<sql id="Base_Column_List_With_Pwd">
	  id,
	  account,
	  NAME,
	  birthday,
	  PASSWORD,
	  sex,
	  email,
	  avatar,
	  phone,
	  role_id as roleId,
	  salt,
	  STATUS,
	  create_time as createTime,
	  pay_password  as payPassword
	</sql>

	<select id="selectUsers" resultType="map">
		select
		<include refid="Base_Column_List" />
		from sys_user
		where status != 3
		<if test="name != null and name != ''">
			and (phone like CONCAT('%',#{name},'%')
			or account like CONCAT('%',#{name},'%')
			or name like CONCAT('%',#{name},'%'))
		</if>
		<if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''">
			and (create_time between CONCAT(#{beginTime},' 00:00:00') and CONCAT(#{endTime},' 23:59:59'))
		</if>
	</select>

	<update id="setStatus">
		update sys_user set status = #{status} where id =
		#{userId}
	</update>

	<update id="changePwd">
		update sys_user set password = #{pwd} where id =
		#{userId}
	</update>

	<update id="setRoles">
		update sys_user set roleid = #{roleIds} where id =
		#{userId}
	</update>

	<select id="getByAccount" resultType="user">
		select
		<include refid="Base_Column_List_With_Pwd" />
		from sys_user where account = #{account} and status != 3
	</select>

	<!--通过帐号、手机号获取为启用的用户【用于登录、找回密码、校验手机号是否已被使用】-->
	<select id="getUserByUserName" resultType="user">
		select
		<include refid="Base_Column_List_With_Pwd"/>
		from sys_user
		<where>
			<if test="condition != null and condition != ''">
				and (account = #{condition} or phone = #{condition})
			</if>
		</where>
	</select>

</mapper>
